@model SearchResultsViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/app.css" rel="stylesheet" />
<h1>Results:</h1>
<hr />
<div class="row">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    @foreach (var book in Model.Result)
    {
        <div class="col-8">
            <div class="row">
                <ul style="font-weight: bold" class="col-sm-2">ISBN:</ul>
                <ul class="col-sm-10">@book.ISBN</ul>
                <ul style="font-weight: bold" class="col-sm-2">Title:</ul>
                <ul class="col-sm-10">@book.Title</ul>
                <ul style="font-weight: bold" class="col-sm-2">Author:</ul>
                <ul class="col-sm-10">@book.Author</ul>
                <ul style="font-weight: bold" class="col-sm-2">Subject:</ul>
                <ul class="col-sm-10">@book.Subject</ul>
                <ul style="font-weight: bold" class="col-sm-2">Page:</ul>
                <ul class="col-sm-10">@book.Pages</ul>
                <ul style="font-weight: bold" class="col-sm-2">Publishers:</ul>
                <ul class="col-sm-10">@book.Publishers</ul>
                <ul style="font-weight: bold" class="col-sm-2">PublishDate: </ul>
                <ul class="col-sm-10">@book.PublishDate</ul>
                <ul style="font-weight: bold" class="col-sm-2">Rating:</ul>
                <ul class="col-sm-10">@book.Rating</ul>
                <ul style="font-weight: bold" class="col-sm-2">
                    Comment: @foreach (var item in book.Comment)
                    {
                        <p>@item</p>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <img class="search" src="@book.Picture" alt="Sample Photo" />
        </div>
        <hr />
    }
</div>
<a href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
